[submodule "config/AstroNvim"]
	path = config/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "config/alacritty/themes/catppuccin"]
	path = config/alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "config/foot/themes/catppuccin"]
	path = config/foot/themes/catppuccin
	url = https://github.com/catppuccin/foot.git
[submodule "config/alacritty/themes/rose-pine"]
	path = config/alacritty/themes/rose-pine
	url = https://github.com/rose-pine/alacritty.git
