# Config
**/packer_compiled.lua
config/spicetify/Extracted
config/vifm/Trash
config/vifm/vifminfo.json
config/lazygit/state.yml
config/mpv/shaders

# locks
**/*-lock.json
config/spicetify/Backup
nixos/hardware-configuration.nix
result
