{{- if eq .hasGui true -}}
#!/usr/bin/env bash

#  ╭──────────────────────────────────────────────────────────╮
#  │                Setup Catppuccin GTK theme                │
#  ╰──────────────────────────────────────────────────────────╯

set -e

tmp_dir="$(mktemp -d)"

cd "$tmp_dir"

git clone --recurse-submodules git@github.com:catppuccin/gtk.git
cd gtk
python -m venv venv

source venv/bin/activate

pip install -r requirements.txt

python install.py macchiato --link -a teal -d ~/.themes --tweaks normal

rm -rf "$tmp_dir"
{{ end }}
