{{- if eq .hasGui true -}}
#!/usr/bin/env bash

#  ╭──────────────────────────────────────────────────────────╮
#  │                Setup Catppuccin GTK theme                │
#  ╰──────────────────────────────────────────────────────────╯

set -e

tmp_dir="$(mktemp -d)"

cd "$tmp_dir"

curl -LsS "https://raw.githubusercontent.com/catppuccin/gtk/main/install.py" -o install.py

python3 install.py macchiato teal

rm -rf "$tmp_dir"
{{ end }}
